@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .content {
    max-width: 90%;
  }
  .image img {
    max-width: 50%;
    margin: 0 auto;
  }
  .content p {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-flow: column wrap;
  }
  .logo img {
    width: 130px;
  }
  .nav ul {
    display: flex;
    gap: 20px;
  }
  .nav a {
    font-size: 14px;
  }
  .home h1 {
    font-size: 40px;
  }
  .home p {
    font-size: 18px;
    width: 300px;
  }
  .about {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .content {
    width: 100%;
    padding: 10px;
  }
  .image img {
    max-width: 100%;
  }
}
